.seat_container{
    width: 350px;
    height: 200px;
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.seat_container_center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seat_container button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    
}
.double_seat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 300px;
    height: 70px;
    
}
.double_seat .row1, .double_seat .row2, .single_seat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}